.button {
  display: block;
  background-color: var(--primary-color);
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
  padding: 1.125rem;
  box-sizing: border-box;
  color: var(--contrast-ligth-color);
  font-size: var(--font-size-button);
  align-self: center;
  text-align: center;
}

.simple-button {
  border: none;
  background-color: unset;
}

.simple-button--add {
  color: var(--primary-color);
}

.simple-button--delete {
  color: var(--info-color);
}

.simple-button--edit {
  color: var(--sucess-color);
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: .8rem;
    width: 50%;
    padding: 1rem 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .button {
    font-size: 1.2rem;
    padding: 1rem 0;
    width: 50%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .button {
    font-size: 1rem;
    padding: 1rem 0;
    width: 50%;
  }
}

@media (min-width: 1101px) {
  
}
