.card {
  background-color: var(--contrast-ligth-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 45rem;
  padding: 1.75rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.card__title {
  font-size: var(--font-size-card-title);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

  .card {
    font-size: .8rem;
    width: 75%;
  }

  .card__title {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .card {
    font-size: 1rem;
    width: 75%;
  }

  .card__title {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {

}