.card {
  background-color: var(--contrast-ligth-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 45rem;
  padding: 1.75rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.card__title {
  font-size: var(--font-size-card-title);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

  .card {
    font-size: .8rem;
    width: 75%;
  }

  .card__title {
    font-size: .95rem;
  }

  .register-card__icon-complete {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .card {
    width: 75%;
  }

  .card__title {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .register-card__title {
    font-size: 1.2rem;
    max-width: 40rem;
  }

  .register-card {
    width: 80%;
  }
}

@media (min-width: 1101px) {

  .register-card__icon-complete {
    width: 4rem;
    height: 4rem;
  }
  .card__title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .register-card__title {
    max-width: 40rem;
  }
}