.header {
  background-color: var(--contrast-ligth-color);
  border-radius: 0 0 10px 10px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.75rem;
  margin-bottom: 2rem;
}

.header__logo {
  width: 3rem;
}

.header__list-nav {
  display: flex;
}

.header__link {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .header {
    border-radius: 0 0 5px 5px;
    height: 3rem;
  }

  .header__logo {
    width: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {

}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .header {
    font-size: 1.2rem;
  }

  .header__logo {
    width: 4rem;
  }
}

@media (min-width: 1101px) {
  .header {
    font-size: 1.4rem;
    padding: 1.3rem 2rem;
  }

  .header__logo {
    width: 5.5rem;
  }
}